<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    
    <p><%= notice %></p>

    <h1>tweet一覧</h1>
    <%= link_to "ツイートする", new_tweet_path, class:'btn btn-default' %>
    
    <hr>
    <% @tweets.each do |tweet| %>
      <div class="row">
        <p>つぶやき:<%= tweet.contents %></p>
        <p>投稿日:<%= tweet.updated_at %></p>
      </div>
    <%= link_to "編集する", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
    <%= link_to "削除する", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn-danger' %>
    <hr>
    <% end %>

  </div>
  <div id="page-top-btn" class="page-top-btn">
        <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
  
</div>